<link href="css/main/feedclassic.css" rel="stylesheet" type="text/css"/>
<link href="css/mobile/feedclassic.css" rel="stylesheet" type="text/css"/>
<!--<script type="text/javascript" src="js/main/photomanager.js"></script>-->

<div id="backup_divdatasetfeed" style="display: none;" data-lfid="<data.user.lfid>"></div>

<div class="feedc_background"></div>
<div id="scrollbox" style="min-width: 300px; position:absolute; top:83px; bottom:0px; left:0px; right:0px; overflow: auto; background: #eef2f7;">
	
<div class="feedc_content">
	<center id="postscontent">
		<div class="feedc_contenti" style="font: 14px arial; font-weight: normal;">
			<div class="feedc_xouter3">

						<div class="feedc_pmid" id="feedc_pmid">
						<div class="feedc_postboxo" style='display: none;'>
							<div class="feedc_postboxi">
								<div class="feedc_postboxip">
								
								<div class="feedc_postboxdp" style="background: url('data/u<data.user.lid>/dp/2.jpg');"></div>
								
								<div class="feedc_postboxinput" id="feedc_postboxinput">
											<div style="border: 1px solid #d7e1ec; background: #ffffff;">
											<table style="width: 100%; padding: 0; margin: 0;"><tr><td>
											
												<div id="feednewpostptdatact" class="expandingArea" style="color: white; margin-left: 0px; min-height: 20px; width: 300px; min-height: 35px; width: 100%; border-radius: 0; border: none;">
												<pre><span></span><br></pre>
												<textarea id="feednewpostptdata" class="newc_textarea" autocomplete="off" placeholder="Write Your New Post Here..."></textarea>
											
											</div>

											</td><td width="60px;" valign=top>
											<div class="feedc_newpostwbtnset">
												<div class="feedc_newpostwbtn"><div style="background: url('images/sheet.png') no-repeat -220px -29px; width: 15px; height: 15px;"></div></div>
												<div style="display: block; overflow: hidden;" class="feedc_newpostwbtn">
													<div style="background: url('images/sheet.png') no-repeat -243px -28px; width: 24px; height: 16px;  position: relative; top: 0px; left: 0px;"></div>
													<input type="file" title="Select Photos to upload" id="pfeedfc_uploadpsel" name="files[]" multiple style="font-size: 50px; width: 120px; opacity: 0; filter:alpha(opacity: 0);  position: relative; top: -40px;; left: -20px" />
												</div>

											</div>
											</td></tr></table>
										</div>
								</div>

								<div id='newpostautocompfoutput' class="npautocomplete_friends"></div>
								<div id="newpostautocompfoutputse"></div>
								<div id="newpostautocompfouttt"></div>
											
								
								<div class="newpost_ctdata" id="feed_newpost_ctdata" style="display: none;">
									<div class="newpost_ctdata_close" onclick="feed_newpost_ctd_clear();"><div style="background: url('images/sheet.png') no-repeat -154px -52px; width: 8px; height: 8px; margin: 4px 4px;"></div></div>
									<div class='newpost_ctimgoverlay' style="margin-left: 10px"><div class='newpost_ctimgoverlayilb' id='feed_newpost_ctimgoverlayilb'></div> <div class='newpost_ctimgoverlayirb' id='feed_newpost_ctimgoverlayirb'></div> </div>
									
									<table>
										<tr><td><div style="padding: 5px 5px 5px 10px; float: left;" id="feed_newpost_ctdatai"></div></td><td valign=top>
										<div class="feed_newpost_ctimgoverlayi" id='feed_newpost_ctimgoverlay'></div> </td></tr>
									</table>
									
									<div style="clear: both;"></div>
								</div>
								
								<div class="feed_newpost_mainbtns" id="feed_newpost_mainbtns" style="display: none;">
									<div class="general_button button_green" style="float: right; padding: 0px 40px 0px 40px;" onclick="feedc_newpost_send()";>Publish</div>
									<div class="general_button button_white" onclick="feedc_newpost_cancel()" style="float: right; padding: 0px 40px 0px 40px;">Cancel</div>
									
								</div>
								<div style="clear:both;"></div>
								
								</div>
							</div>
						</div>
						<div class="feedc_pomiddleb" id="feedc_pomiddleb">
						
						<posts.feed>
						
						</div>
						
						
						
						</div>
						
						<div style="clear: both;"></div>
						<div class="feedc_postexpandbar" onclick="feedc_loadmore()">
							<div class="feedc_postexpandbari" id="feedc_postexpandbari">
								<a>More...</a>
							</div>
						</div>
						<div class="feedc_midcend"></div>
						
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div style="clear: both;"></div>
			
			<div style="background: #ffffff;">
				<main.footer>
			</div>
		</div>
	</center>
</div>
</div>