
<div class="settingsp_title">Account Settings</div>

<div class="settingsp_groupt">Security</div>
<div class="settingsp_group">
	<ul>
		<li><a href="#">Change password</a></li>
		<li><a href="logout.php?m=all">Forget me from all other devices</a></li>
	</ul>
</div>

<div class="settingsp_groupt">Deactivation</div>
<div class="settingsp_group">
	<ul>
		<li><a href="#">Deactivate account</a></li>
		<li><a href="#">Delete account</a></li>
	</ul>
</div>
	
	
<div style="clear: both; height: 250px;"></div>