
<div class="settingsp_title">Blog Settings</div>

<div class="settingsp_groupt">Display Information</div>
<div class="settingsp_group">
	<table>
		<tr><td style="width: 160px;">
							Enable Blog</td>      <td>Enable</td>
		<tr class="od">	<td>Blog Name</td>        <td>Chase's Blog</td>
		<tr>			<td>Blog Description</td> <td>All that once am I several stories high, knowing I'm on the street where you live.</td>
		<tr class="od">	<td>Marking</td>          <td>Enable</td>
		<tr>			<td>Notes</td>            <td>Enable</td>
		<tr class="od">	<td>Reblogging</td>       <td>Enable</td>
		<tr>			<td>Tagging</td>          <td>Enable</td>

	</table>
</div>

<div class="settingsp_groupt">Theme</div>
<div class="settingsp_group">
	<div class="settings_btheme_mbox">
		<div class="settings_btheme_bbox"><img src="images/settings/themethumb1.png"/><p>Default Theme</p></div>
	</div>
</div>
	
	
<div style="clear: both; height: 250px;"></div>