

<div class="settingsp_title">Display Settings</div>
<div class="settingsp_maint_dsc">Please notice that the display settings will only change the way you see profiles, others will see it according to their preferences.</div>
<div class="settingsp_groupt">Display Mode</div><div class="settingsp_group">
	<table>
		<tr><td style="width: 160px;">Black</td><td><img  style="vertical-align:middle;" src="images/settings/displaymode1.png"/></td>
		<tr class="od"><td>Green</td><td><img  style="vertical-align:middle;" src="images/settings/displaymode2.png"/></td>
	</table>
</div>

<div class="settingsp_groupt">Feed Display</div><div class="settingsp_group">
	<div class="settings_dmode_mbox">
		<div class="settings_dmode_bbox" onclick="settings_dpmode_switch(1, 1);"><div id='settingdpmfeed_1' <settingdpmfeedst_1> class='settings_dmode_bbox_sel'></div><img src="images/settings/displaymodefc.png"/><p>Classic</p></div>
		<div class="settings_dmode_bbox" onclick="settings_dpmode_switch(1, 2);"><div id='settingdpmfeed_2' <settingdpmfeedst_2> class='settings_dmode_bbox_sel'></div><img src="images/settings/displaymodefg.png"/><p>Garden</p></div>
	</div>
</div>

<div style="clear: both;"></div>
<!--
<div class="settingsp_groupt">Post Display</div><div class="settingsp_group">
	<div class="settings_dmode_mbox">
		<div class="settings_dmode_bbox"><img src="images/settings/displaymodepc.png"/><p>Classic</p></div>
		<div class="settings_dmode_bbox"><img src="images/settings/displaymodenh.png"/><p>Horizontal Grid</p></div>
		<div class="settings_dmode_bbox"><img src="images/settings/displaymodenv.png"/><p>Vertical Grid</p></div>
	</div>
</div>-->




	
	
<div style="clear: both; height: 250px;"></div>