<div class="settings_back" style="position:absolute; top:30px; bottom:0px; left:0px; right:0px; overflow: auto;">
	
	<link href="css/main/settings.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="js/settings/settings.js"></script>

	<div class="settingsbackouter"><div class="settingsbackout"><div class="settingsback"><div class="settingsinside">
	
		
		<div class="settings_fbox">
		
			<table style="width: 100%;"><tr><td style="width: 125px; vertical-align: top;">
			
				<div class="settings_tabs_box">
					<a href="settings.general"><div class="settings_tab<settingstabcn0>">General</div></a>
					<a href="settings.privacy"><div class="settings_tab<settingstabcn1>">Privacy</div></a>
					<a href="settings.display"><div class="settings_tab<settingstabcn2>">Display</div></a>
					<a href="settings.blog"><div class="settings_tab<settingstabcn3>">Blog</div></a>
					<a href="settings.account"><div class="settings_tab<settingstabcn4>">Account</div></a>
					<a href="settings.personal"><div class="settings_tab<settingstabcn5>">Personal</div></a>
				</div>
				
				</td><td style="vertical-align: top; padding: 3px;">
				
				<div class="settings_panels_box"><div class="settings_panels_box_in">
					<settings.panelcontent>
					
					
				</div>
				
			</td></tr></table>
			
		</div>

	</div></div></div></div>
	
	<div style="background: #ffffff;">
		<main.footer>
	</div>
</div>