
<div class="settingsp_title">Privacy Settings</div>

<div class="settingsp_groupt">Account Status</div><div class="settingsp_group">
	<table>
		<tr><td style="width: 160px;">Profile Display</td><td>Not Included in Search</td>
		<tr class="od">	<td>Blog</td><td>Public</td>
		<tr>			<td>Search Engines on Profiles</td><td>Blocked</td>
		<tr class="od">	<td>Search Engines on Blog</td><td>Allow</td>
		<tr>			<td>Send Messages</td><td>Public</td>
		<tr class="od">	<td>Add as a Friend</td><td>Everyone</td>
	</table>
</div>

<div class="settingsp_groupt">Friends</div><div class="settingsp_group">
	<table>
		<tr><td style="width: 160px;">
						    Post text on my profile</td><td>Allow</td>
		<tr class="od">	<td>Post videos on my profile</td><td>Only from permitted sites</td>
		<tr>			<td>Post photos</td><td>Only original photos</td>
		<tr class="od">	<td>Tag me in text</td><td>Allow for text without any links</td>
		<tr>			<td>Tag me in photos</td><td>Only original photos</td>
		<tr class="od">	<td>Tag me in videos</td><td>Only from permitted sites</td>
	</table>
</div>

<div class="settingsp_groupt">Permissions</div><div class="settingsp_group">
	<table>
		<tr><td style="width: 160px;">
						    Tag me in photos</td><td>Ask</td>
		<tr class="od">	<td>Tag me in videos/links</td><td>Ask</td>
		<tr>			<td>Tag me in links</td><td>Ask</td>
		<tr class="od">	<td>Post photos</td><td>Ask</td>
		<tr>			<td>Post videos</td><td>Allow</td>
		<tr class="od">	<td>Post text</td><td>Allow</td>
	</table>
</div>


<div class="settingsp_groupt">Preview Profile As...</div><div class="settingsp_group">
	<ul>
		<li><a href="#">Friend.</a></li>
		<li><a href="#">Friend of a friend.</a></li>
		<li><a href="#">Public.</a></li>
		<li><a href="#">Person near you.</a></li>
		<li><a href="#">Person virtually near you.</a></li>
	</ul>
</div>
	
<div style="clear: both; height: 250px;"></div>