<link href="css/main/feedclassic.css" rel="stylesheet" type="text/css"/>
<link href="css/main/photomanager.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/main/photomanager.js"></script>

<div class="photomm_content" id='feedc_postboxinput'>
	<center>
		<div class="photomm_contenti">
		<div class="photomm_tabline">
		
			<div class="photomm_tlbtn <album.data.tabsel.1>" id='photomm_tlbtn1'>
				<a href='javascript: photomanager_switch(1);'>
				<div class="photomm_tlbtni">
					<div class="photomm_tlbtnititlea">Albums</div>
				</div>
				</a>
			</div>
			
			<div class="photomm_tlbtn <album.data.tabsel.2>" id='photomm_tlbtn2'>
				<a href='javascript: photomanager_switch(2);'>
				<div class="photomm_tlbtni">
					<div class="photomm_tlbtnititle">Album</div>
					<div class="photomm_tlbtniname" id='photomm_tlbtniname' data-albumid='<album.data.defid>'><album.data.defname></div>
				</div>
				</a>
			</div>
			
			<div class="photomm_tlbtn <album.data.tabsel.3>" id='photomm_tlbtn3'>
				<a href='javascript: photomanager_switch(3);'>
				<div class="photomm_tlbtni">
					<div class="photomm_tlbtnititlea">All Photos</div>
				</div>
				</a>
			</div>
			
			<div class="photomm_tlbtn" style='min-width: 30px;'>
				<a href='#'>
				<div class="photomm_tlbtni">
					<div class="photomm_tlbtnititlea"><div style='font-size: 20px; font-weight: bold;'>+</div></div>
				</div>
				</a>
			</div>
		
		</div>
		
		<div class="photomm_co_alb" id="photomm_co">
			<div style="clear: both;"></div>

				<div class="photomm_ci" id="photomm_ci" style='margin: 20px 0px 5px 0px;'>
				<div id="pha_content" >
					<album.data.content>
				</div>
				<div style="clear: both;"></div>
				</div>

			<div style="clear: both;"></div>
		</div>
		</div>
	</center>
</div>

<!--<div class="pha_thumbsetct"><a href='javascript: post_expand(0, 0);'><div class="pha_thumbalbct">
						<img src="images/test/pv2.jpg"/>
						<div class="pha_thumbalbbt">
							<div class='pha_thumbalbbt_c'>100 Photos</div>
							<div class="pha_thumbalbbt_r">
								<div class="pha_thumbalbbt_t">Harvest</div>
								<div class="pha_thumbalbbt_l">Pecs, Hungary</div>
								<div class="pha_thumbalbbt_tt">11th May, 2011</div>
							</div>
						</div>
					</div></a>
					
					<div class="pha_thumbalbct">
						<img src="images/test/pv6.jpg"/>
						<div class="pha_thumbalbbt">
							<div class='pha_thumbalbbt_c'>42 Photos</div>
							<div class="pha_thumbalbbt_r">
								<div class="pha_thumbalbbt_t">Skyscrapper</div>
								<div class="pha_thumbalbbt_l">Coast Way, California</div>
								<div class="pha_thumbalbbt_tt">26th February, 2012</div>
							</div>
						</div>
					</div>
					
					<div class="pha_thumbalbct">
						<img src="images/test/pv5.jpg"/>
						<div class="pha_thumbalbbt">
							<div class='pha_thumbalbbt_c'>235 Photos</div>
							<div class="pha_thumbalbbt_r">
								<div class="pha_thumbalbbt_t">In Her Room</div>
								<div class="pha_thumbalbbt_l">Paris, France</div>
								<div class="pha_thumbalbbt_tt">12th April, 2012</div>
							</div>
						</div>
						</div>-->