<div style="position:absolute; top:30px; bottom:0px; left:0px; right:0px; overflow: auto; background: #eef2f7;">
	
<center>
	
	<div style="width: 327px; height: 253px; margin-top: 170px; background: #f9fbfc; -moz-border-radius: 3px; border-radius: 3px;">
		<div style="font-size: 220px; line-height: 200px; font-weight: bold; font-family: Arial, Helvetica; padding: 0; color: #f5bd5b;">?</div>
		<div style="font-size: 11px;">Sorry, the content you tried to view is either deleted<br/>or you're not allowed to view it.</div>
	</div>
	
</center>

<div style="clear: both;"></div>
</div>

