<link href="css/main/feedclassic.css" rel="stylesheet" type="text/css"/>
<!--<script type="text/javascript" src="js/main/photomanager.js"></script>-->

<div id="backup_divdatasetfeed" style="display: none;" data-lfid="<data.user.lfid>"></div>

<div class="feedc_background"></div>
<div id="scrollbox" style="min-width: 1000px; position:absolute; top:30px; bottom:0px; left:0px; right:0px; overflow: auto; background: #eef2f7;">
	
<div class="feedc_content">
	<center id="postscontent" data-mode='1'> <!-- home -->
		<div class="feedc_contenti">
			<div class="feedc_xouter3">

				<div class="feedc_xleftcol3">
				
					<div class="feedc_lmshortcuts">
						<a href='friends' ><div class="feedc_lmshortcut_btn"><div class='feedc_lmshortcut_btnifade' style="margin: 10px 0 0 11px; background: url('images/sheet.png') no-repeat -36px -148px; width: 14px; height: 15px;"></div></div></a>
						<a href='albums' ><div class="feedc_lmshortcut_btn"><div style="margin: 11px 0 0 12px; background: url('images/sheet.png') no-repeat -36px -163px; width: 13px; height: 13px;"></div></div></a>
						<a href='u<data.user.id>' ><div class="feedc_lmshortcut_btn"><div style="margin: 11px 0 0 15px; background: url('images/sheet.png') no-repeat -54px -148px; width: 6px; height: 13px;"></div></div></a>
						<a href='shout' ><div class="feedc_lmshortcut_btn"><div style="margin: 11px 0 0 10px; background: url('images/sheet.png') no-repeat -51px -163px; width: 15px; height: 14px;"></div></div></a>
						
						<div style="clear: both;"></div>
					</div>
					
					<div class="feedc_lsidesep"></div>
				
					<feed.classic.leftbar>
					
				</div>
				
				<div class="feedc_xrightcol3">
					<div class="feedc_rreminders">
					
						<div class="feedc_remidertab">Events</div>

						<div class="feedc_remidertab_exp">
							<div class='feedc_remdevent' onclick="show_timepopup(this, 0, 0);">
								<div class='feedc_remdevent_tbox'><b>12</b><br/>AM</div>
								<div class='feedc_remdevent_title'>Coachella Festival</div>
								<div class='feedc_remdevent_loc'>Indio, CA, USA</div>
							</div>
							
							<div class='feedc_remdevent'>
								<div class='feedc_remdevent_dp'><img src="data/ui1wk4x8/dp/3.jpg"></div>
								<div class='feedc_remdevent_title'><a onmouseover="vusr(this, &quot;dkhjYh&quot;);" href="udkhjYh">Sharon Levy</a>'s Birthday</div>
								<div class='feedc_remdevent_dsc'>Today</div>
							</div>
							
							<div style="clear: both;"></div><div style='height:10px;'></div>
						</div>
						<div style='height:10px;'></div>
					</div>
					
					<div class="feedc_adverts">
					
						<div class="feedc_adverttab">Advertisements</div>
						<div class="feedc_adverttab_exp">
							<img data-src="images/test/ad1.jpg" width='150px'/>
							<p>In collaboration with <a href="#">UNICEF.org</a></p>
							<div style="clear: both;"></div>
						</div>
						
						<div class="feedc_adverttab_exp">
							<img data-src="images/test/ad2.jpg" width='150px'/>
							<p>In collaboration with <a href="#">WWF.org</a></p>
							<div style="clear: both;"></div>
						</div>
						
						<div class="feedc_adverttab_exp">
							<img data-src="images/test/ad4.jpg" width='150px'/>
							<p>In collaboration with <a href="#">WWF.org</a></p>
							<div style="clear: both;"></div>
						</div>
						
						
					</div>
				</div>
				
				<div class="feedc_xmiddlecol3">
					<div class="feedc_xinner3">
						<div class="feedc_pmid" id="feedc_pmid">
						<div class="feedc_postboxo">
							<div class="feedc_postboxi">
								<div class="feedc_postboxip">
								
								<div class="feedc_postboxdp" style="background: url('data/u<data.user.lid>/dp/2.jpg');"></div>
								
								<div class="feedc_postboxinput" id="feedc_postboxinput">
									<!--<div class="feedc_postboxinputt">Write Your New Post Here...</div>-->
										<div style="border: 1px solid #d7e1ec; background: #ffffff;">
											<table style="width: 100%; padding: 0; margin: 0;"><tr><td>
											
												<!--<div id="feednewpostptdatact" class="expandingArea" style="color: white; margin-left: 0px; min-height: 20px; width: 300px; min-height: 35px; width: 100%; border-radius: 0; border: none;">
												<pre><span></span><br></pre>
												<textarea id="feednewpostptdata" class="newc_textarea" autocomplete="off" placeholder="Write Your New Post Here..."></textarea>-->
												<div id="feednewpostptdata" contenteditable="plaintext-only" class="newc_textarea" autocomplete="off" placeholder="Write Your New Post Here..."></div>
											</div>
											
											
											
											<!--<div id="feednewpostptdata" class="usertextinputarea_t feednewpostptdata" contenteditable="plaintext-only"></div>-->

											</td><td width="60px;" valign=top>
											<div class="feedc_newpostwbtnset">
												<div class="feedc_newpostwbtn" onclick="feedsearch_show();" title="Search posts"><div style="background: url('images/sheet.png') no-repeat -220px -29px; width: 15px; height: 15px;"></div></div>
												
													<div style="position: relative;">
														<div class="menug_content" id="quicksearch_feed" style="right: 34px; top: 30px; width: 350px; position: absolute; overflow: hidden;">
															<div style="padding: 5px 5px 7px 5px;">
																<div class="idefinputborder" style="width: 100%; height: 33px;">
																	<div style="float: left;"><input type="text" id="quicksearch_feed_input" class="quickfriendsearch_text" placeholder="Search posts here..." style='width: 300px;'></div>
																	<div style="padding: 3px;"><div class="quickfriendsearch_searchbox"  id='quicksearch_feed_sbox'><div style="background: url('images/sheet.png') no-repeat -104px -1px; width: 15px; height: 15px; margin: 0 0 0 0;"></div></div></div>
																</div>
															</div>
															<div style="clear:both;"></div>
														</div>
													</div>
				
												<div style="display: block; overflow: hidden;" class="feedc_newpostwbtn">
													<div style="background: url('images/sheet.png') no-repeat -243px -28px; width: 24px; height: 16px;  position: relative; top: 0px; left: 0px;"></div>
													<input type="file" title="Select photos to upload" id="pfeedfc_uploadpsel" name="files[]" multiple style="font-size: 50px; width: 120px; opacity: 0; filter:alpha(opacity: 0);  position: relative; top: -40px;; left: -20px" />
												</div>

											</div>
											</td></tr></table>
										</div>
								</div>
								
							<!--	<div id="sout">aaa</div> -->
								<div id='newpostautocompfoutput' class="npautocomplete_friends"></div>
								<div id="newpostautocompfoutputse"></div>
								<div id="newpostautocompfouttt"></div>
											
								
								<div class="newpost_ctdata" id="feed_newpost_ctdata" style="display: none;">
									<div class="newpost_ctdata_close" onclick="feed_newpost_ctd_clear();"><div style="background: url('images/sheet.png') no-repeat -154px -52px; width: 8px; height: 8px; margin: 4px 4px;"></div></div>
									<div class='newpost_ctimgoverlay' style="margin-left: 10px"><div class='newpost_ctimgoverlayilb' id='feed_newpost_ctimgoverlayilb'></div> <div class='newpost_ctimgoverlayirb' id='feed_newpost_ctimgoverlayirb'></div> </div>
									
									<table>
										<tr><td><div style="padding: 5px 5px 5px 10px; float: left;" id="feed_newpost_ctdatai"></div></td><td valign=top>
										<div class="feed_newpost_ctimgoverlayi" id='feed_newpost_ctimgoverlay'></div> </td></tr>
									</table>
									
									<div style="clear: both;"></div>
								</div>
								
								<div class="feed_newpost_mainbtns" id="feed_newpost_mainbtns" style="display: none; width: 100%; position: relative;">
									<div style='margin-left: 48px; margin-right: 12px;'>
										<!--<input type="text" style='border: 1px solid #EBF0F5; background: #fafbfd; font-size: 11px; width: 100%; padding: 2px 4px 2px 4px;' placeholder='Mark your current location...'></input>
										<input type="text" style='border: 1px solid #EBF0F5; background: #fafbfd; font-size: 11px; width: 100%; padding: 2px 4px 2px 4px; margin-bottom: 5px;' placeholder='Add people here...'></input>
										-->
										<div id="feed_newpost_eiloc" onclick="newpost_addlocinit(this)" data-tinit='0' type="text" style='border: 1px solid #EBF0F5; background: #fafbfd; font-size: 11px; width: 100%; height: 15px; padding: 0px 4px 5px 4px; margin-bottom: 5px;' contenteditable="plaintext-only" placeholder='Mark your location here...'><span style='color: #a5a5a5;'>Mark your location here...</span></div>
										<div id="feed_newpost_eitag" onclick="newpost_addpeopleinit(this)" data-tinit='0' type="text" style='border: 1px solid #EBF0F5; background: #fafbfd; font-size: 11px; width: 100%; height: 15px; padding: 0px 4px 5px 4px; margin-bottom: 5px;' contenteditable="plaintext-only" placeholder='Add people here...'><span style='color: #a5a5a5;'>Add people here...</span></div>
									
										<div class='feed_privacyselect'><div style="float: left; margin: 3px 5px 2px -2px; background: url('images/sheet.png') no-repeat -269px -18px; width: 14px; height: 14px;"></div>Friends only</div>
									
										<div class="general_button button_green" style="float: right; padding: 0px 40px 0px 40px; margin-right: -10px;" onclick="feedc_newpost_send()";>Publish</div>
										<div class="general_button button_white" onclick="feedc_newpost_cancel()" style="float: right; padding: 0px 40px 0px 40px;">Cancel</div>
									</div>
									
									<div style="clear: both;"></div>
								</div>
								<div style="clear:both;"></div>
								
								</div>
							</div>
						</div>
						
						<div class='feedc_msg_general'></div>
						<div class='feedc_msg_filter' style='display: none;' id='feed_msgf'><span id='feed_msgf_text'></span><div class="boxc_i boxc_close" title='Remove filter' style='float: right; margin-top: 1px;' onclick="feedsearch_restore();"></div></div>
						
						<div class="feedc_pomiddleb" id="feedc_pomiddleb">
						
						<posts.feed>
						
						</div>
						
						
						
						</div>
						
						<div style="clear: both;"></div>
						<div class="feedc_postexpandbar" onclick="feedc_loadmore()">
							<div class="feedc_postexpandbari" id="feedc_postexpandbari">
								<a>More...</a>
							</div>
						</div>
						<div class="feedc_midcend"></div>
						
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div style="clear: both;"></div>
			
			<div style="background: #ffffff;">
				<main.footer>
			</div>
		</div>
	</center>
</div>
</div>