<link href="css/main/friends.css" rel="stylesheet" type="text/css"/>
<!--<script type="text/javascript" src="js/main/friends.js"></script> -->

	
<div class="fmp_topbar">

	<center><div class="fmp_tb_search">
		<div class="fmp_tbs_inputb"><input type="text" id="friendspanelsearchinput" data-ppcount="0" data-ppindex="0"></div>
		<div class="fmp_button"><p>People Search</p></div>
	</div></center>
</div>



<div class="fmp_grid">
	<center><div class="fmp_gridv" id="fullpeoplesearchgrid">
	
	</div></center>
</div>

