<!DOCTYPE html>

<html><head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Welcome To Natfie - Create Account</title>

	<link href="css/main/default.css" rel="stylesheet" type="text/css"/>
	<link href="css/main/guest.css" rel="stylesheet" type="text/css"/>
	<link href="css/main/guestlogin.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="js/main/guestlogin.js"></script>

</head><body>

	<div class="jointop themecolorv1"><div class="jointop_text" style="float: left;">Welcome To Natfie</div><div class="guestlogin" id="guestlogin"><div class="guestloginbtn themecolorv3" id="guestloginbtn" onclick="javascript: guestlogin_show();">Login</div></div></div>


	<footerbar.content>
	
	<!-- content -->	
	
	<div style="height: 30px"></div>
	
	<div>
	<main.content>

	</div>
	
	<div style="clear:both;"></div>

</body></html> 