<link href="css/main/singlepost.css" rel="stylesheet" type="text/css"/>
<link href="css/main/feedclassic.css" rel="stylesheet" type="text/css"/>
<!--<script type="text/javascript" src="js/main/photomanager.js"></script>-->

<div class="singlepost_background"></div>
<div style="position:absolute; top:30px; bottom:0px; left:0px; right:0px; overflow: auto; background: #eef2f7;">
	
<center>

	<div class="singlepost_ctmain">
	
		<div class="singlepost_tct">
			<singlepost.data.uname>
		</div>
		<div class="singlepost_ct">
			<div class="singlepost_dp"><singlepost.data.udp><!--<img src="data/u21wk4x8/dp/1.jpg"/>--></div>
			
			<div class="singlepost_cti">
				<singlepost.data.main>
				<!--<div class="singlepost_stext">
					<p>Your voice, your eyes, your hands, your lips...
					</p><p>Our silences, our words. Light that goes, light that returns
					</p><p>A single smile between us both, in quest of knowledge...</p>
				</div>
				
				<div class="singlepost_sdata">
					<object width="640" height="360"><param name="movie" value="http://www.youtube.com/v/cY3I5Ab-ov4?version=3&amp;hl=en_US"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><param name="wmode" value="opaque"><embed src="http://www.youtube.com/v/cY3I5Ab-ov4?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="640" height="360" allowscriptaccess="always" allowfullscreen="true" wmode="opaque"></object>
				</div>
				
				<div class="singlepost_ddetails">
					<div class="singlepost_ddetails_t"><a href='#'>The Kiss by Tim Zaragoza</a></div>
					<div class="singlepost_ddetails_u">Youtube.com</div>
				</div>
				
				<div class="singlepost_potop_ctr">
					<a href="#">Mark</a> . <a href='javascript: fc_comment_button("pcdvkhjYh-4");'>Comment</a> . <a href="cvkhjYh-4"><abbr class="synctime" data-ts="1333730116" data-mode="0" title="6th April, 2012 at 22:05PM">a week ago</abbr></a>
				</div>
				
				<div style="clear: both;"></div>
				
				<div class="singlepost_cm_set">
					<div class="singlepost_cm_line_m"><div class="singlepost_cmli"><a href="#">View Previous 7 Comments</a></div></div>
					
					<div class="singlepost_cm_line singlepost_cm_line_o"><div class="singlepost_cmli">
						<div class="singlepost_cm_dp"><img src="data/un1wk4x8/dp/3.jpg"/></div>
						<div class="singlepost_cm_c">
							<a href="#" class="singlepost_pouname">Lori Bliss</a> Ellen says that too.
							<div><abbr>8 hours ago.</abbr></div>
						</div>
						<div style="clear: both;"></div>
						
					</div></div>
					<div class="singlepost_cm_line singlepost_cm_line_e"><div class="singlepost_cmli">
						<div class="singlepost_cm_dp"><img src="data/ut1wk4x8/dp/3.jpg"/></div>
						<div class="singlepost_cm_c">
						<a href="#" class="singlepost_pouname">Sofia Smith</a> haha
							<div><abbr>8 hours ago.</abbr></div>
						</div>
						<div style="clear: both;"></div>
					</div></div>
					<div class="singlepost_cm_line singlepost_cm_line_o"><div class="singlepost_cmli">
						<div class="singlepost_cm_dp"><img src="data/u21wk4x8/dp/3.jpg"/></div>
						<div class="singlepost_cm_c">
						<a href="#" class="singlepost_pouname">Georgia Grant</a> Ellen?
							<div><abbr>8 hours ago.</abbr></div>
						</div>
						<div style="clear: both;"></div>
					</div></div>
					
					<div class="singlepost_cm_line singlepost_cm_line_e"><div class="singlepost_cmli">
				
						<div class="singlepost_cm_dp"><img src="data/u<data.user.lid>/dp/3.jpg"/></div>
						<div class="singlepost_cm_c">
							<div class="expandingArea" style="margin-left: 0px; min-height: 20px; width: 300px;">
									<pre><span></span><br></pre>
									<textarea class="newc_textarea" autocomplete="off" placeholder="Write a comment..."></textarea>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div></div>
				</div>
				-->
				
			
			</div>
		</div>
		
	</div>
</center>

<div style="clear: both;"></div>
<div style="background: #ffffff; width: 100%;" id="main_footer_ct">
	<main.footer>
</div>

</div>

