<link href="css/main/messages.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/main/msgs.js"></script>

<div class="msg_main">
	<div class="msg_taskbar">
		<div class="msg_tb_buttonset">
			<div class="msg_tb_button" title="Send New Message"><div style="background: url('images/sheet.png') no-repeat -121px -153px; width: 33px; height: 33px; position: relative; top: 21px; left: 21px"></div></div>
			<div class="msg_tb_button" title="Inbox"><div style="background: url('images/sheet.png') no-repeat -43px -152px; width: 38px; height: 47px; position: relative; top: 10px; left: 18px"></div></div>
			<div class="msg_tb_button" title="Sent messages"><div style="background: url('images/sheet.png') no-repeat -82px -152px; width: 38px; height: 47px; position: relative; top: 10px; left: 18px"></div></div>
			<div class="msg_tb_button" title="Important messages"><div style="background: url('images/sheet.png') no-repeat 0px -146px; width: 38px; height: 38px; position: relative; top: 18px; left: 18px"></div></div>
		</div>
	</div>
	
	<div class="msg_content">
		<div class="msg_ctitle">
			<div class="msg_ctitle_tbox">
				<div class="msg_ctitle_text">Inbox</div>
				<div class="msg_ctitle_new">1</div>
				<div style="clear:both;"></div>
			</div>
			
			<div class="msg_ctitle_dsc">Last message: 11.30AM Yesterday</div>
			
		</div>
		
		<div class="msg_list_c" id="messageclist" data-mcount="<data.msgsetcount>">
			<div class="msg_list"  id="messageclistin">
				<div id="messageclistslidec">
				<data.msgset>
				
				
				</div>
				
				<div id="messageclistslidecsub">
				</div>

			</div>
			
			<center><div class="msgslider"><div class="msgsliderbtn" id="msliderbtn">Page 1 of <data.msgsetcount></div></div></center>
		</div>
	</div>

</div>