
body{
	font: 11px sans-serif;/*'Lucida Grande', Tahoma, Helvetica, Arial, Verdana, sans-serif;*/
	background: white;
	color: #353535; /* #545454; */
	padding: 0 0 0 0;
	margin: 0 0;
	line-height: 16.3pt;
	overflow-y: hidden;
	min-width: 1000px;
	-webkit-font-smoothing: antialiased;
}

p
{
	color: #646464;
}

textarea{
	font: 10px "lucida grande",tahoma,verdana,arial,sans-serif;
}

h1{
	font-size: 11px;
	line-height: 0;
	padding: 0 0 0 0;
	color: #000066;
}

h3{
	font-size: 11px;
	padding: 0;
	margin: 0;
	color: #000066;
}

img
{
	border: none;
}

ul
{
	padding-top: 9px;
}

a{
	color: #102d96;
}

a:hover{
	color: #FF9900;
}

a:visited{
	color: #102d96;
}

a.userpage{
	text-decoration: none;
	font-weight: bold;
	color: #336699;
}

/* theme */

.themecolorv1
{
	background: #202020;
	color: #645d42;
}

.themecolorv2 
{
	background: #202020;
	color: #ffffff;
}

.themecolorv2:hover
{
	background: #888888;
	color: #ffffff;
}

.themecolorv3
{
	background: #777777;
}

.themecolorv3:hover
{
	background: #aaaaaa;
}

.menuodd
{
	background: #f4f4f4;
}

.menubox.menuodd
{
	background: #f4f4f4;
}

.menuback
{
	background: #c2c2c2;
}


/* default theme */


/*

.menuback
{
	background: #c2cd76;
}

.menuodd
{
	background: #eef4e3;
}

.menubox.menuodd
{
	background: #eef4e3;
}

.themecolorv1{
	background: #82ad36;
	color: #645d42;
}

.themecolorv2{
	background:  #729d26;
	color: #ffffff;
}

.themecolorv2:hover{
	background: #a2cd56;
	color: #ffffff;
}

.themecolorv3
{
	background: #a2cd56;
}

.themecolorv3:hover
{
	background: #c2ed76;
}

*/



#topbar{

	height: 30px;
	width: 100%;
	position: fixed;
	top: 0px;
	right: 0xpx;
	z-index: 100000;
}

#topbar a{
	text-decoration: none;
}

#topbar_left{
	background: none;
	color: #ffffff;
	top: 0px;
	left: 0px;
}

#topbar_right{
	background: none;
	color: #645d42;
	height: 30px;
	width: 300px;
	position: fixed;
	top: 0px;
	right: 0px;
	text-align: right;
	padding: 4px 8px 0 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	
}


#topbar_right a{
	color: #ffffff;
	text-decoration: none;
}

#topbar_right a:hover{
	color: #ff0000;
	text-decoration: none;
}


#topbar_right h1{
	color: #ffffff;
	font: 16pt "Calibri", helvetica, sans-serif;
	display:inline;
}

#topbar_right h2{
	color: #ffee7e;
	font: 10pt "Calibri", helvetica, sans-serif;
	display:inline;
	font-weight: lighter;
}

#topbar_right h3{
	color: #ffffff;
	font-size: 11px;
	display:inline;
	font-weight: lighter;
	padding-bottom: 20px;
}

#bottombar{
	background: none;
	color: #645d42;
	height: 30px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 200000;
}

div.footerbar
{
	background: #799abc;
	color: #ffffff;
	font-size: 11px;
	height: 25px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 200000;
	border-top: 2px solid #ffffff;
}

div.footerbar a
{
	text-decoration: none;
	color: #ffffff;
}

div.footerbar a:hover
{
	color: #ffbb55;
}



div.sideicon
{
	background: #ffffff;
	color: #645d42;
	height: 32px;
	width: 32px;
	position: fixed;
	top: 40px;
	right: 0px;
	z-index: 200000;
	border: 1px solid #bbbbbb;
	/*
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5); */
}

div.chatbox
{
	background: #ffffff;
	height: 100%;
	width: 300px;
	position: fixed;
	top: 30px;
	right: 12px;
	z-index: 20000;
	border-left: 1px solid #B4C7DA;
	/*-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);*/
	visibility: hidden;
}

div.chatbox table
{
	padding: 0;
}

div.chatbox_top
{
	
	width: 300px;
	top: 0px;
	left: 0px;
}

div.chatbox_chattext
{
	width: 100%;
	height: 100%;
	width: 294px;
	overflow-y: scroll;
	padding: 2px;
	font-size: 11px;
}

div.chatlineodd
{
	background: #e9eff4;
}

div.chatlineeven
{
	background: #fbfcfd;
}

div.chatbox_ci
{
	min-height: 30px;
	margin-bottom: 3px;
	padding: 5px;
	position: relative;
}

div.chatbox_ci abbr
{
	display: none;
	color: #999999;
	float: right;
	position: absolute;
	bottom: 5px;
	right: 2px;
}

div.chatbox_ci:hover abbr
{
	display: inline;
}

div.chatbox_ct
{
	color: #666666;
	font-weight: thin;
	line-height: 120%;
	margin: 0px 5px 0px 40px;
	min-height: 30px;
	text-align: left;
}
div.chatbox_ct p
{
	padding: 0;
	margin: 0 0 2px 0;
}

div.chatbox_chattext hr
{
	color: #eeeeee;
	background-color: #eeeeee;
	height: 2px;
	border: none;
}

div.chatbox_pic
{
	width: 27px;
	height: 27px;
	background: #dddddd;
	float: left;
	-moz-box-shadow: 0px 0px 2px #000000;
    -webkit-box-shadow: 0px 0px 2px #000000;
}

div.chatbox_pic:hover div
{
	visibility: visible;
}

div.chat_available_pic
{
	width: 33px;
	height: 33px;
	background: #ffffff;
	float: left;
	margin: 1px;
}

div.chat_available_pic:hover > img
{
	opacity:0.77;
	filter:alpha(opacity=77);
}

div.chat_available_line
{
	margin-left: 8px;
}

div.chatbox_title
{
	font-weight: bold;
	color: #ffffff;
	padding: 0 0 0 0;
	margin: 0 10px;
	font-size: 11px;
}

div.chatbox_title a
{
	color: #ffffff;
	text-decoration: none;
}


div.chatbox_title a:hover
{
	color: #ff0000;
	text-decoration: none;
}


div.chatntf
{
	background: none;
	height: 100%;
	width: 200px;
	position: fixed;
	top: 34px;
	right: 0px;
	z-index: 15000;
	pointer-events: none;
	margin-top: 40px;
	overflow-y: auto;
}

div.chatntf_box
{
	background: #ffffff;
	height: 41px;
	margin-top: 6px;
	float: right;
	pointer-events: auto; 
	border: 1px solid #dddddd;
}

div.chatntf_box:hover
{
	background: #e9eff4;
}

div.chatntf_new
{
	position: relative;
	background: #ff4600;
	display: block;
	height: 20px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
	font-weight: bold;
	left: 5px;
	top: -58px;
	padding: 0 5px 0 5px;
	margin: 0;
	float: left;
	clear: both;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

div.chatntf_x
{
	position: relative;
	background: #ffffff url('../../images/sheet.png') no-repeat -143px -63px;
	display: block;
	height: 13px;
	width: 13px;
	right: 5px;
	top: -68px;
	margin: 0;
	float: right;
	clear: both;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
	opacity:0.0;
	filter:alpha(opacity=0);	
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

div.chatntf_x:hover
{
	opacity:0.9;
	filter:alpha(opacity=90);	
}

div.chatntf_plus
{
	position: relative;
	background: #656565 url('../../images/sheet.png') no-repeat -0px -51px;
	display: block;
	height: 13px;
	width: 13px;
	right: 5px;
	top: -53px;
	margin: 0;
	float: right;
	clear: both;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

div.chatntf_pic
{
	height: 41px;
	width: 41px;
	background: #dddddd;
	float: right;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
}

div.chatntf_pic_st
{
	height: 52px;
	width: 4px;
	background: none;
	float: right;
}

div.chatntf_availability
{
	height: 8px;
	width: 8px;
	float: right;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #336699;
}

#chatbox_input_border
{
	border: 1px solid #b4c7da;
	width: 287px;
	height: 66px;
	overflow: hidden;
}

textarea.textareachatbox
{
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-box-orient: vertical;
	resize: none;
	height: 50px;
	width: 235px;
	cursor: auto;
	white-space: pre-wrap;
	border: none;
	color: #808080;
	font-size: 11px;
	outline: 0;
	padding: 5px;
}

div.chattext_button_set
{
	width: 26px;
	float: right;
	padding: 3px 4px 0 0;
}

div.chattext_buttons
{
	width: 26px;
	height: 26px;
	margin-bottom: 4px;
	background: #e9eff4;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

div.chattext_buttons:hover
{
	background: #7f9fbf;
	cursor: pointer;
}

div.sideicon:hover
{
	background: #ffffff;
}

div.quickfriendsearch_searchbox
{
	float: right;
	padding: 6px;
	width: 15px;
	cursor: pointer;
}

div.quickfriendsearch_searchbox:hover
{
	background: #d5e0ea;
}

input.quickfriendsearch_text
{
	color: #606060;
	width: 170px;
	height: 25px;
	padding: 4px;
	margin: 0;
	border: none;
	font-size: 11px;
	outline: 0;
}

/* buttons on top bar */

div.topbarspace{
	
	display: block;
	background: none;
	height: 23px;
	top: 0px;
	background: none;
	width: auto;
	padding: 0 0 0 0;
	float:left;
}

div.topiconnew{
	
	visibility: hidden;
	height: 16px;
	top: 3px;
	background: url('../../images/sheet.png') no-repeat -243px -52px;
	width: 22px;
	float: left;
	padding: 3px 1px 0px 1px;
	position: relative;
	margin: 0 -20px;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	/* -moz-border-radius: 3px;
	border-radius: 3px;
	background: #ff591d;
	border: 1px solid #ffc9b5; */
}

div.topiconnew  p{
	
	color: #ffffff;
	padding: 0px 1px 0px 1px;
	margin: -3px 0;
	text-align: center;
}


div.topicon{
	
	display: block;
	height: 20px;
	top: 0px;
	background: none;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	float:left;
	margin: 6px 4px;
	opacity:0.77;
	filter:alpha(opacity=77);
}

div.topicon:hover{

	background: #ffeeaa;
	opacity:1.0;
	filter:alpha(opacity=100);
}

div.topbutton{
	
	display: block;
	height: 23px;
	top: 0px;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	float:left;
	font-size: 11px;
	font-weight: bold;
	margin: 0 2px;
}

div.topbutton:hover{
	color: #ffffff;
}


div.boxin{
	
	padding: 10px;
}

div.boxpic{
	width: 41px;
	height: 41px;
	background: #aaaaaa;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	float: left;
}

div.sendmsgboxpic
{
	width: 41px;
	height: 41px;
	background: #aaaaaa;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0 5px 5px 0;
}

div.boxtext{

	margin-left: 48px;
	text-overflow: ellipsis;  
    -o-text-overflow: ellipsis;  
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');  
}

div.boxtextp{

	margin-left: 48px;
	margin-right: 0;
	padding: 0;
	width: 290px;
	height: 48px;
	overflow: hidden;
	text-overflow: ellipsis;
	 -o-text-overflow: ellipsis;
	 -icab-text-overflow: ellipsis;
	 -khtml-text-overflow: ellipsis;
	 -moz-text-overflow: ellipsis;
	 -webkit-text-overflow: ellipsis;
}

div.boxdatab{
	border: 1px solid #c6c6c6;
	text-align: center;
	padding: 1px;
	width: 337px;
	height: 145px;
}

div.boxdatab:hover{
	border: 1px solid #ddaa88;
}

div.boxdata{

	width: 100%;
	height: 100%;
	background: #aaaaaa;
	color: #ffffff;
}

div.boxdata:hover{
	opacity: 0.7;
    filter: alpha(opacity=70);
}

div.box h1{

	/*color: #333333;*/
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;
	padding: 0 0 6px 0;
}

div.box p{

	/*color: #333333;*/
	font-size: 11px;
	font-weight: lighter;
	margin: 0 0;
	
	line-height: 130%;
	text-align: left;
	
}

div.box a{

	color: inherit;
	text-decoration: none;
}

div.box span
{
	display: none;
}

div.box:hover
{
	background: #fafafa;
}

div.box:hover span
{
	display: inline;
}

/* box controls */

div.boxout
{
	position: relative;
}

div.boxc
{
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px;
}

div.boxc_i
{
	width: 18px;
	height: 18px;
	cursor: pointer;
	float: left;
	background: url('../../images/sheet.png') no-repeat;
}

div.boxc_close{background-position: -134px -16px;}
div.boxc_close:hover{background-position: -134px -34px;}
div.boxc_share{background-position: -115px -16px;}
div.boxc_share:hover{background-position: -115px -34px;}
div.boxc_source{background-position: -96px -16px;}
div.boxc_source:hover{background-position: -96px -34px;}
div.boxc_icm{background-position: -78px -16px; width: 16px}
div.boxc_icm:hover{background-position: -78px -34px; width: 16px}

.boxc_marksp
{
	cursor: pointer;
}

.boxc_markspi
{
	width: 14px;
	height: 12px;
	background: url('../../images/sheet.png');
	margin-bottom: 2px;
	vertical-align: middle;
}

.boxc_marksp div
{
	opacity:0.8;
	filter:alpha(opacity=80);
}

.boxc_marksp:hover div
{
	opacity:1.0;
	filter:alpha(opacity=100);
}

.boxc_inline
{
	width: 18px;
	height: 17px;
	padding-right: 2px;
	margin-bottom: 3px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	background: url('../../images/sheet.png') no-repeat;
}

div.boxc_icmd
{
	color: #7194b8;
	float: left;
	cursor: pointer;
	line-height: 140%;
	padding: 2px 4px 0 2px;
}

div.homecontent
{
	width: 3420px;
	height: 2020px;
	position: relative;
}

div.homeinnercontent
{
	overflow: hidden;
	width: 100%;
	height: 100%;
}




/* menus -------------------------------------- */



div .topmenu
{
	position: absolute;
	display: block;
	color: #4e4e4e;
	width: 300px;
	top: 30px;
	right: 124px;
	z-index: 200000;
	text-align: right;
	padding: 0 0 0 0;
	visibility: hidden;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

div .menubox
{
	color: #4e4e4e;
	background: #ffffff;
	padding: 5px 10px 5px 10px;
	margin: 1px 1px;
	font-size: 11px;
	font-weight: light;
}

a.menubox 
{
	color: #4e4e4e;
}

div .menubox:hover
{
	background: #b1c6df;
	color: #000000;
}


/* notifications menus */

div.nmenu
{
	position: absolute;
	display: block;
	background: #ffffff;
	color: #4e4e4e;
	width: 318px;
	top: 30px;
	left: 350px;
	z-index: 200000;
	padding: 0;
	visibility: hidden;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}

div.notifytoph
{
	width: 25px;
	height: 4px;
	background: #aaaaaa;
	margin-top: -4px;
	margin-left: 137px;
}

div.nmenumore
{
	background: #96b1cb;
	color: #ffffff;
	height: 28px;
	bottom: 0px;
	margin: 2px;
	cursor: pointer;
}

div.nmenumore:hover
{
	background: #6699bb;
}

div.nmenumoretext
{
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding-top: 4px;
}

div.nmenuitem
{
	color: #000000;
	line-height: 140%;
	padding: 5px 10px 5px 10px;
	margin: 1px 1px;
	font-size: 11px;
	font-weight: light;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div .nmenuitem:hover
{
	background: #d8e2ef;
	color: #000000;
}

div.nmenutext
{
	margin-left: 50px;
	color: #616161;
}

div.nmenutext p
{
	padding: 0;
	margin: 0;
	line-height: 140%;
	
}

a.dunamelink
{
	text-decoration: none;
	font-weight: bold;
	color: #336699;
}

a.dunamelink:hover
{
	color: #ffffff;
}

div.nmenutextdetail
{
	color: #929292;
	margin-left: 55px;
}


div.nmenuphotob
{
	border: 1px solid #bbbbbb;
	padding: 1px;
	margin: 5px 0px;
	width: auto;
}

div.nmenuphoto
{
	background: #dddddd;
	width: auto;
	height: 121px;
	overflow: hidden;
}

div.nmenuquickmark
{
	background: #82ad36;
	width: 48px;
	height: 32px;
	border: 1px solid #dddddd;
	padding: 0;
	float: left;
	-webkit-border-radius: 2px;
    border-radius: 2px;
}

div.nmenuquickmark:hover
{
	background: #a2cd56;
}

div.nmenuquick
{
	margin-top: 75px;
	padding: 4px;
	float: left;
}

div.nmenuquicktext
{
}

div.nmenuquick input
{
	padding: 0;
	font-size: 11px;
	background: #ffffff;
	border: 1px solid #bbbbbb;
	-webkit-border-radius: 2px;
    border-radius: 2px;
	padding: 0;
	margin-left: 2px;
	float: left;
}

div.nmenuquickmarkicon
{
	width: 15px;
	height: 16px;
	margin: 8px 16px;
}



#main_footer{
	border-top: 1px solid #e6e6e6;
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 27px;
}

#main_footer_right{
	display: block;
	float: right;
	padding-right: 10px;
	padding-top: 3px;
}

#main_footer_right a{
	text-decoration: none;
	color: #757575;
}

#main_footer_right a:hover{
	text-decoration: none;
	color: #aa0000;
}

div.divhidden
{
	display: none;
}

/*
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    border-radius: 2px;
	background: rgba(240,240,240,0.8); 
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(220,220,220,0.8); 
}
::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(120,120,120,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(220,220,220,0.4); 
} 
*/

::-webkit-scrollbar {
    width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    border-radius: 2px;
	background: #ebf0f5;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
	border: 2px solid #ebf0f5;
    background: #c5d4e2;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 2px;
    border-radius: 2px;
	border: 2px solid #ebf0f5;
    background: #7f9fbf;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #c5d4e2;
} 







div.dragger
{
	overflow: hidden;
	position: absolute;
}


div.box{
	
	display: block;
	color: #000000;
	background: #ffffff;
	width: 170px;
	height: 100px;
	float: left;
	/*position: absolute;*/
	font-size: 11px;
	font-weight: lighter;
	margin: 1px 1px;
	overflow: hidden;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
}


div.statusnotification
{
	padding: 10px;
	background: #e8eef4;
	border: 1px solid #9ab3cd;
	color: #336699;
	position: absolute;
	z-index: 1000000;
	min-width: 220px;
	text-align: center;
	font-size: 11px;
	top: 40px;
	left: 10px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	visibility: hidden;
	cursor: pointer;
}



/* new post window */


div.newpostbackd
{
	padding: 2px 10px 2px 10px;
	background: #ffffff;
	border: 1px solid #909090;
	color: #808080;
	position: absolute;
	z-index: 1000000;
	font-size: 11px;
	top: 35px;
	left: 4px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 520px;
	/*height: 140px;*/
}

div.newpostbackt
{
	padding: 0px;
	background: #ffffff;
	border: 1px solid #909090;
	position: absolute;
	z-index: 1000001;
	color: #82ad36;
	top: 2px;
	left: 44px;
	width: 29px;
	height: 33px;
	font-size: 20px;
	text-align: center;
	border-bottom-width: 0px;
	cursor: pointer;
}

div.newpostfull
{
	visibility: hidden;
}

div.newpost_title
{
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

div.newpost_content
{
	width: 100%;
	margin-top: 12px;
}

div.newpost_content_left
{
	float: left;
	width: 54px;
	height: 54px;
}

div.newpost_content_right
{
	float: left;
	height: auto;
}

div.newpost_content_dp
{
	float: left;
}

div.newpost_ctdata
{
	border: 1px solid #dddddd;
	margin-top: 3px;
}

div.newpost_ctdataimgcover
{
	width: 337px;
	height: 145px;
	overflow: hidden;
}

div.newpost_ctdataimgcover img
{
	visibility: hidden;
}

div.newpost_ctimgoverlay
{
	position: relative;
	width: 337px;
	padding: 0;
	height: 0px;
	text-align: left;
}

div.newpost_ctimgoverlayi
{
	position: absolute;
	top: 5px;
	left: 0px;
	width: 337px;
	background: #ffffff;
	opacity: 0.8;
	padding-bottom: 3px;
}

div.newpost_ctimgoverlayi b, p
{
	padding: 0 10px 0 10px;
	margin: 0;
	line-height: 140%;
}

div.newpost_ctimgoverlayi a
{
	color: #333333;
}

div.newpost_ctimgoverlayilb
{
	position: absolute;
	top: 108px;
	left: 10px;
	padding-bottom: 3px;
	opacity: 0.8;
}

div.newpost_ctimgoverlayirb
{
	position: absolute;
	top: 127px;
	left: 0px;
	width: 330px;
	color: #ffffff;
	font-weight: bold;
	text-align: right;
	font-size: 11px;
}



div.newpost_ctdata_close
{
	height: 16px;
	width: 16px;
	background: #ffffff;
	padding: 0px 0px 0px 0px;
	display: block;
	float: right;
	cursor: pointer;
	margin-right: 3px;
	margin-top: 3px;
	border: 1px solid #ffffff;
}

div.newpost_ctdata_close:hover
{
	border: 1px solid #c3c3c3;
}

div.newpost_inputborder
{
	width: 445px;
	height: 35px;
	border: 1px solid #d5d5d5;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea.newpost_textarea
{
	color: #606060;
}

div.newpost_bottombars
{
	margin-top: 4px;
}

div.newpost_blue_button
{
	height: 23px;
	width: auto;
	background: #e9eff4;
	border: 1px solid #a0b8d0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	color: #336699;
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 4px;
}

div.newpost_blue_button:hover
{
	background: #a0b8d0;
	color: #ffffff;
}

div.newpost_finalbars
{
	margin-top: 10px;
	margin-bottom: 8px;
}

div.button_wide
{
	padding-left: 20px;
	padding-right: 20px;
}

div.button_green
{
	background: #82ad36;
	border: 1px solid #82ad36;
	color: #ffffff;
}

div.button_green:hover
{
	background: #ffffff;
	color: #656565;
}

div.button_white
{
	background: #ffffff;
	border: 1px solid #b3b3b3;
	color: #656565;
}

div.button_white:hover
{
	background: #dddddd;
	color: #656565;
}


div.general_button
{
	height: 23px;
	width: auto;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 4px;
}

div.general_button_mlh
{
	height: 20px;
	width: auto;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 3px 10px 0px 10px;
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 4px;
}


button.general_settingbuttonblue
{
	height: 30px;
	width: auto;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 4px;
	background: #1d90e1;
	color: #edf7fd;
	border: none;
	font-size: 11px;
}

button.general_settingbuttonblue:hover
{
	background: #5fb1ea;
}

button.general_settingbuttonwhite
{
	height: 30px;
	width: auto;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 4px;
	background: #ffffff;
	color: #8b8b8b;
	border: 1px solid #e6e6e6;
	font-size: 11px;
}

button.general_settingbuttonwhite:hover
{
	background: #cedae7;
	color: #000000;
}


div.newpost_checkfull
{
	float: left;
	cursor: pointer;
}

div.newpost_check
{	
	float: left;
	width: 24px;
	height: 24px;
	border: 1px solid #e8e8e8;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 2px;
	opacity:0.3;
	filter:alpha(opacity=30);
}

div.newpost_check:hover
{
	opacity:1.0;
	filter:alpha(opacity=100);
}

div.newpost_checkcaption
{
	margin-left: 34px;
	padding-top: 2px;
}



/* message box */


div.sendmsgbox_full
{
	padding: 2px 10px 2px 10px;
	background: #ffffff;
	border: 1px solid #909090;
	color: #808080;
	position: absolute;
	z-index: 1000000;
	font-size: 11px;
	top: 217px;
	left: 50%;
	margin-left: -260px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 520px;
	visibility: hidden;
}

div.sendmsgbox_title
{
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	border: 3px solid #f0f4f8;
	border-width: 0 0 3px 0;
}

div.sendmsgbox_picset
{
	margin-top: 12px;
}

div.sendmsgbox_picuser
{
	margin-right: 4px;
}

div.sendmsgbox_picadd
{
	width: 41px;
	height: 41px;
	background: #c3d89f;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	float: left;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

div.sendmsgbox_picadd:hover
{
	background: #82ad36;
}

div.sendmsgbox_addtitle
{
	font-size: 26px;
}

div.sendmsgbox_input
{
	margin-top: 10px;
}

div.sendmsgbox_bottombar
{
	margin-top: 10px;
	margin-bottom: 8px;
}


/* new post window */


div.friendsearchbackd
{
	padding: 2px 5px 2px 5px;
	background: #ffffff;
	border: 1px solid #909090;
	color: #808080;
	position: absolute;
	z-index: 1000000;
	font-size: 11px;
	top: 35px;
	left: 4px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 275px;
	/*height: 140px;*/
}

div.friendsearchbackt
{
	padding: 0px;
	background: #ffffff;
	border: 1px solid #909090;
	position: absolute;
	z-index: 1000001;
	color: #82ad36;
	top: 2px;
	left: 5px;
	width: 29px;
	height: 33px;
	font-size: 20px;
	text-align: center;
	border-bottom-width: 0px;
	cursor: pointer;
}

div.friendsearchfull
{
	visibility: hidden;
}

div.friendsearch_title
{
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

div.friendsearch_content
{
	width: 100%;
	margin-top: 2px;
}

div.friendsearch_content a
{
	text-decoration: none;
}

div.friendsearch_inputborder
{
	width: 100%;
	height: 35px;
	border: 1px solid #d5d5d5;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input.friendsearch_text
{
	color: #606060;
	width: 260px;
	height: 25px;
	padding: 4px;
	margin: 0;
	border: none;
	font-size: 11px;
	outline: 0;
}

div.friendsearch_people
{
	overflow-y: auto;
	max-height: 500px;
	margin-top: 5px;
	width: 275px;
}

div.friendsearch_person
{
	min-height: 70px;
	width: 100%;
	margin-bottom: 2px;
}

div.friendsearch_person a
{
	text-decoration: none;
}

div.friendsearch_dpb
{
	width: 54px;
	padding: 0;
	float: left;
}

div.friendsearch_dp
{
	padding: 5px;
}
div.friendsearch_mb
{
	margin-left:55px;
	padding: 5px;
}

div.friendsearch_finalbars
{
	margin-top: 10px;
	margin-bottom: 4px;
}

div.friendsearch_final_more
{
	height: 25px;
	width: 100%;
	color: #ffffff;
	background: #96b1cb;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	padding-top: 3px;
}

div.friendsearch_final_more:hover
{
	background: #6699bb;
}

div.friendsearch_odd
{
	background: #e9eff4;
}

div.friendsearch_odd:hover
{
	background: #cddae6;
}

div.friendsearch_even
{
	background: #fbfcfd;
}

div.friendsearch_even:hover
{
	background: #dee7ef;
}

div.friendsearch_pn
{
	color: #336699;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 100%;
}

div.friendsearch_pd
{
	color: #336699;
	margin-bottom: 3px;
	line-height: 140%;
	text-align: left;
}

div.friendsearch_bx
{
	float: left;
}

div.fsbx_btn
{
	background: #ffffff;
	width: 28px;
	height: 28px;
	border: 1px solid #a4b7d9;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: left;
	cursor: pointer;
	margin-right: 2px;
}

div.fsbx_btn:hover
{
	background: #c7d6e3;
}

div.fsbx_btnm1
{
	margin: 9px 0 0 9px;
	background: url('../../images/sheet.png') no-repeat -1px -1px;
	width: 10px;
	height: 10px;
}
div.fsbx_btnm2
{
	margin: 8px 0 0 6px;
	background: url('../../images/sheet.png') no-repeat -50px -2px;
	width: 15px;
	height: 13px;
}
div.fsbx_btnm3
{
	margin: 7px 0 0 5px;
	background: url('../../images/sheet.png') no-repeat -68px -1px;
	width: 17px;
	height: 15px;
}
div.fsbx_btnm4
{
	margin: 6px 0 0 4px;
	background: url('../../images/sheet.png') no-repeat -27px -1px;
	width: 21px;
	height: 17px;
}
div.fsbx_btnm5
{
	margin: 8px 0 0 7px;
	background: url('../../images/sheet.png') no-repeat -88px -1px;
	width: 14px;
	height: 11px;
}
div.fsbx_btnm6
{
	margin: 6px 0 0 8px;
	background: url('../../images/sheet.png') no-repeat -13px 0px;
	width: 11px;
	height: 17px;
}

div.fsbx_mf
{
	margin-top: 8px;
	margin-left: 45px;
	float: right;
}

/* show post window */

div.spw_fullout
{
	overflow-y: scroll;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000001;
	pointer-events: none;
}

div.spw_full
{
	padding: 2px;
	background: #ffffff;
	border: 1px solid #909090;
	color: #808080;
	position: absolute;
	z-index: 1000001;
	font-size: 11px;
	top: 100px;
	left: 50%;
	margin-left: -320px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	pointer-events: auto;
}

div.msgexp_box
{
	padding: 2px;
	background: #ffffff;
	border: 1px solid #d3edfa;
	color: #808080;
	position: absolute;
	z-index: 1000001;
	font-size: 11px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	pointer-events: auto;
}

div.msgexp_typebox
{
	padding: 2px;
	background: #ffffff;
	border: 1px solid #a4a4a4;
	color: #808080;
	position: absolute;
	z-index: 1000002;
	font-size: 11px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	width: 700px;
	min-height: 170px;
}

div.spw_content
{
	padding: 5px;
}

div.spw_content a
{
	text-decoration: none;
	color: #6699cc;
}

div.spw_content a:hover
{
	color: #cc9933;
}


div.spw_title
{
	font-size: 14px;
	font-weight: bold;
	color: #555555;
	padding: 0;
	margin: 0;
	line-height: 130%;
}
div.spw_user
{
	color: #336699;
	font-weight: bold;
	padding: 0;
	margin: 0;
	line-height: 130%;
}
div.spw_text
{
	margin-top: 5px;
}

div.spw_text p
{
	padding: 0;
	margin: 0;
	line-height: 130%;
	color: #4d4d4d;
}

div.spw_data
{
	margin-top: 5px;
	/*width: 100%;*/
}
		
div.spw_status
{
	margin-top: 2px;
}
div.spw_sfl
{
	float: right;
}

a.spw_btn
{
	color: #6699cc;
	text-decoration: none;
}

a.spw_btn:hover
{
	color: #cc9966;
}

div.spw_statuslist
{
	float: left;
}

div.spw_sfr
{
	float: right;
}
div.spw_cdsc
{
	float: left;
	margin-right: 5px;
}

div.spw_cbtn
{
	height: 20px;
	width: auto;
	background: #ffffff;
	border: 1px solid #669933;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	color: #669933;
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 2px;
}

div.spw_cbtn:hover
{
	background: #669933;
	color: #ffffff;
}

div.spw_comments
{
	padding: 0;
}

div.spw_btnt
{
	height: 16px;
	width: 16px;
	background: #ffffff;
	border: 1px solid #c3c3c3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 0px 0px 0px;
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 2px;
}

div.spw_btnt:hover
{
	background: #a4bbd2;
}

div.spw_data_bar
{
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 5px;
}


/* photo strip management */


div.pmmd_pdbox
{
	max-width: 1000px;
	height: 360px;
	overflow: hidden;
}

div.pmmd_pdbox.fs
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div.pmmd_photos
{
	float: left;
	width: 3000px;
	position: relative;
}

div.pmmd_photo
{
	/*width: 640px;*/
	min-height: 360px;
	float: left;
	display: block;
	overflow: hidden;
	text-align: center;
	background: #f7f7f7;
}

div.pmmd_photo.fs
{
	width: 100%;
	height: 100%;
	float: left;
	display: block;
	overflow: hidden;
	text-align: center;
	background: #000000;
}

/* picture tagging stuff */

div.ptg_content
{
	background: #f7f7f7;
	padding: 0;
	margin: 0;
	font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;
}

div.ptg_content.fs
{
	background: #000000;
	padding: 0;
	margin: 0;
	font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

div.ptgbox
{
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 1000008;
	opacity:0.7;
	filter:alpha(opacity=70);
	-webkit-touch-callout: none;
	pointer-events:none;
	visibility: hidden;
}

div.ptgboxtop
{
	border: 8px solid #ffffff;
	width: 120px;
	height: 120px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
	margin: 0;
	padding: 0;
}

div.ptgboxtext
{
	background: #ffffff;
	width: 120px;
	height: 20px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	padding: 2px 8px 2px 8px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.ptgboxtext input
{
	border: none;
	outline: none;
	width: 120px;
	padding: 0px;
	font-size: 11px;
	font-weight: bold;
}


div.ptgpictc
{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 100001;
	padding: 0;
	margin: 4px;
	/*visibility: hidden;*/
}

div.ptgpictcb
{
	display: block;
	padding: 18px 4px 4px 4px;
	margin-bottom: 4px;
	background: #000000;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #efefef;
	text-align: center;
	font-weight: bold;
	height: 31px;
	width: 45px;
}

div.ptgpictcb:hover
{
	background: #808080;
	opacity:1.0;
	filter:alpha(opacity=100);
}

div.spw_extradata
{
	padding: 0 5px 0 5px;
}

div.spw_extradata a
{
	text-decoration: none;
	color: #336699;
}

div.spw_extradata_b
{
	padding: 0 5px 0 5px;
}

div.spw_extradata_b a
{
	text-decoration: none;
	color: #dfdfdf;
}

a.spw_ranchor:hover
{
	color: red;
}

/* general menus and stuff */

div.menug_content
{
	display: block;
	background: #ffffff;
	color: #676767;
	z-index: 1000001;
	padding: 4px 0 0 0;
	visibility: hidden;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 3px;
    border-radius: 3px;
}

div.menug_item
{
	min-height: 24px;
	width: 100%;
	padding: 1px 3px 1px 3px;
	font-weight: normal;
	font-size: 11px;
	cursor: pointer;
}

div.menug_item:hover
{
	background: #d5e0ea;
}

a.mdefusername
{
	color: #336699;
	font-size: 11px;
	font-weight: bold;
	line-height: 100%;
	text-decoration: none;
}


div.idefusername
{
	color: #336699;
	font-size: 12px;
	font-weight: bold;
	line-height: 100%;
}

div.idefuserdsc
{
	color: #939393;
	line-height: 120%;
}

div.idefinputborder
{
	border: 1px solid #d5d5d5;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/* emoticons */

img.chatemot
{
	background: url('../../images/sheet.png') no-repeat;
	width: 15px;
	height: 15px;
	vertical-align: top;
	overflow: hidden;
}

span.chatemott
{
	display: none;
}

/* dialog/overlays etc. */

div.overlaymain
{
	opacity:0.7;
	filter:alpha(opacity=70);
	background: #ffffff; 
	width:100%;
	height:100%; 
	z-index:1000000;
	position:fixed;
}

div.overlaymain_ct
{
	position: absolute;
	bottom: 5px;
	left: 5px;
}

div.overlaymain_btn
{
	color: #ffffff;
	background: #444444;
	font-size: 11px;
	width: 51px;
	height: 21px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-right: 2px;
	opacity:0.7;
	filter:alpha(opacity=70);
}

div.overlaymain_btn:hover
{
	color: #000000;
	background: #ffffff;
}

div.overlayfull
{
	top:0;
	left:0; 
}

div.overlaycontent
{
	top:30px;
	left:0; 
}

div.dialogbox
{
	background: #ffffff;
	border: 1px solid #cedae7;
	color: #000000;
	position: absolute;
	font-size: 11px;
	min-width: 450px;
	min-height: 150px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	z-index:1000001;
}

.dialogbox_inputsettings
{
	border: 1px solid #efefef;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width: 200px;
	min-height: 22px;
	font-size: 11px;
	padding-left: 4px;
	margin-bottom: 3px;
	line-height: 140%;
}
.dialogbox_inputbox
{
	border: 1px solid #efefef;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width: 200px;
	min-height: 22px;
	font-size: 11px;
	padding-left: 4px;
	margin-bottom: 3px;
	line-height: 140%;
}


div.dialogbox_content
{
	padding: 5px;
	overflow-y: auto;
	max-height: 620px;
	margin-left: 96px;
}

div.dialogbox_title
{
	position: absolute;
	/*background: #e7c07b;
	top: 0px;
	bottom: 0px;
	width: 30px;
	padding: 0;
	margin: 0;*/
	background: #eff3f7;
	top: 0px;
	bottom: 0px;
	width: 96px;
	padding: 0;
	margin: 0;
}

div.dialogbox_titletext
{
	padding-left: 5px;
	font-weight: bold;
	color: #808080;
	height: 22px;
	/*
	color: #656565;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: white; */
	position: absolute;
	top: 5px;
	left: 4px;
}

div.dialogbox_footer
{
	padding-top: 10px;
	margin-top: 7px;
}

div.dialogbox_content label {
	cursor: pointer;
}

div.dialogbox_content  input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

div.dialogbox_content  input[type=radio] {
    bottom: 2px;
}

/* user details box */

div.userdetailsbox
{
	padding: 0;
	position: absolute;
	z-index:1000002;
	top: 132px;
	left: 353px;
}

div.userdetailsboxc
{
	background: #336699;
	color: #cde5ee;
	min-width: 248px;
	min-height: 72px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 2px rgba(51, 102, 153, 0.9);
    -webkit-box-shadow: 0px 0px 2px rgba(51, 102, 153, 0.9);
	padding: 6px 6px 3px 6px;
	font-size: 11px;
	line-height: 130%;
}

div.userdetailsboxc a
{
	text-decoration: none;
	color: white;
}

div.userdetailsboxc a:hover
{
	color: #ffcc00;
}

div.userdetailspoint_lb
{
	background: url('../../images/sheet.png') no-repeat -35px -52px;
	width: 16px;
	height: 14px;
	margin-left: 16px;
}

div.userdetailspoint_lt
{
	background: url('../../images/sheet.png') no-repeat -53px -51px;
	width: 16px;
	height: 14px;
	margin-left: 16px;
}

div.userdetailspoint_rb
{
	background: url('../../images/sheet.png') no-repeat -88px -52px;
	width: 16px;
	height: 14px;
	margin-left: 225px;
	margin-top: -14px;
}

div.userdetailspoint_rt
{
	background: url('../../images/sheet.png') no-repeat -71px -51px;
	width: 16px;
	height: 14px;
	margin-left: 225px;
	margin-top: -14px;
}

div.userdetailsboxtxt
{
	margin-left: 75px;
	padding-left: 7px;
	max-width: 300px;
}

div.userdetailsboxpic
{
	float: left;
}

div.userdetailsboxtn {font-weight: bold; color: #dfe7ef;}
div.userdetailsboxtd {color: #a9bed4;}
div.userdetailsboxtm {color: #cde5ee;}

.blurry
{
    box-shadow: 0px 0px 3px 10px rgba(192,192,192,0.2);
    text-shadow: 0px 0px 5px rgba(51, 51, 51, 1);
    opacity: 0.8;
	color: transparent;
}

.blurry p
{
	color: transparent;
}

.blurry h1
{
	color: transparent;
}



.focusbox
{
	color: #333333;
}
.focusbox p
{
}
.focusbox h1
{
	color: #333333;
}

/* tooltips */

div.tooltip_chat
{
	position: relative;
	visibility: hidden;
	margin-top: 2px;
	float: right;
	color: #ecf5fe;
	width: 100px;
	background: #336699;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 6px 2px 6px;
	font-size: 11px;
	z-index: 100010;
	text-align: center;
}

/* emoticons box */

div.menuebe
{
	width: 23px;
	height: 23px;
	margin: 0 1px 1px 0;
	background: #f4f7fa;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	cursor: pointer;
	
}

div.menuebei
{
	width: 14px;
	height: 14px;
	margin: 4px 0 0 4px;
	background: url('../../images/sheet.png') no-repeat;
}

div.menuebe:hover
{
	background: #d3dfe9;
}

div.menuebdata ol
{
	padding-left: 30px;
	padding-right: 20px;
	font-size: 11px;
}

div.menuebdata li
{
	font-size: 11px;
	cursor: pointer;
}

div.menuebdata li:hover
{
	font-size: 11px;
	background: #e9eff4;
}

div.menueb_btn
{
	width: 87px;
	height: 23px;
	margin: 0 1px 1px 0;
	background: #e9eff4;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	cursor: pointer;
	font-size: 11px;
	text-align: center;
}

div.menueb_btn:hover
{
	background: #d3dfe9;
}


/* top menu */

div.menutopyour
{
	position: absolute;
}

div.menutopitem
{
	padding: 5px 20px 5px 20px;
}

/* popup windows */

div.popupcard_main
{
	position: absolute;
	border: 1px solid #d7e1ec;
	background: #ffffff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width: 86px;
	min-height: 10px;
	top: 10px;
	left: 10px;
	display: block;
	color: #676767;
	z-index: 1000002;
	padding: 0;
	font-size: 11px;
	visibility: hidden;
}

div.popupcard_main ul
{
	list-style-type: none;
	padding: 0;
	margin: 2px 0px 2px 0px;
}

div.popupcard_main li
{
	padding: 0px 10px 0px 10px;
	cursor: pointer;
}

div.popupcard_main a
{
	text-decoration: none;
	color: inherit;
}

div.popupcard_main li:hover
{
	background: #ecf1f6;
}


div.popupcard_mark
{
	position: absolute;
	border: 1px solid #d7e1ec;
	background: #ffffff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width: 180px;
	height: 36px;
	top: 10px;
	left: 10px;
	display: block;
	color: #676767;
	z-index: 200000;
	padding: 0;
	font-size: 11px;
	visibility: hidden;
}

div.popupcard_mark ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0;
}

div.popupcard_mark li
{
	cursor: pointer;
	width: 34px;
	height: 34px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f8fafc;
	color: #6289b1;
	float: left;
	padding: 0;
	margin-right: 2px;
	text-align: center;
	line-height: 140%;
}

div.popupcard_mark li:hover
{
	background: #c9d7e5;
}

div.popup_cal_ct
{
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #da6943;
	color: #f9e6df;
	width: 77px;
	height: 60px;
	padding-top: 17px;
	margin: 3px;
	float: left;
}

div.popup_cal_ct h1
{
	font-size: 20px;
	padding: 10px 0 0 0;
	margin: 0;
	text-align: center;
	color: #f9e6df;
}

div.popup_cal_ct h2
{
	font-size: 17px;
	padding: 10px 0 0 0;
	margin: 0;
	text-align: center;
	color: #f9e6df;
	font-weight: normal;
}

div.popup_cal_ct h3
{
	font-size: 11px;
	padding: 0;
	margin: 0 4px 0 0;
	text-align: right;
	color: #e79e85;
	font-weight: normal;
}

div.popup_cal_ct span
{
	margin: 100spx 0 0 0;
}

div.popup_cal_txt
{
	font-size: 11px;
	color: $4d4d4d;
	line-height: 140%;
	float: left;
	padding: 3px 10px 3px 2px;
}

span.popup_cal_cturl
{
	color: #336699;
	cursor: pointer;
}


/* full dialog box */

.fulldialogbox
{
	position: absolute;
	top: 45px;
	left: 25px;
	bottom: 25px;
	right: 25px;
	background: #ffffff;
	border: 1px solid #b3b3b3;
	color: #000000;
	font-size: 11px;
	min-width: 450px;
	min-height: 150px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index:1000001;
}

.fulldialogbox_toptitle
{
	color: #dddddd;
	padding: 15px 18px 15px 18px;
}

.fulldialogbox_toptitle abbr
{
	color: #999999;
}

.fulldialogbox_toptitle_t
{
	color: #585858;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 4px;
}

.fulldialogbox_toptitle_dt
{
	line-height: 140%;
	float: left;
}

span.loctag
{
	color: #cc9933;
}

.fulldialogbox_toptitle_ctr
{
	padding-top: 7px;
	float: left;
	padding-left: 114px;
}

.fulldialogbox_toptitle_ctrbtn
{
	float: left;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #efefef;
	width: 30px;
	height: 30px;
	margin-right: 3px;
	cursor: pointer;
}

.fulldialogbox_toptitle_ctrbtn:hover
{
	background: #e9eff4;
}

.fulldialogbox_toptitle_upbtn
{
	width: 50px;
	height: 50px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #669933;
	background: #82ad36;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.fulldialogbox_toptitle_upbtn:hover
{
	border: 1px solid #ffffff;
	background: #679b0a;
}

.fulldialogbox_toptitle_dscc
{
	padding-top: 7px;
	float: left;
	margin-left: 10px;
	border-left: 2px solid #cccccc;
	height: 37px;
}

.fulldialogbox_toptitle_dscc textarea
{
	font-size: 11px;
	width: 400px;
	border: none;
	margin-left: 30px;
	margin-top: 5px;
	outline: none;
}

.photoupv_thumbboxo
{
	float: left;
	margin-right: 4px;
	margin-bottom: 15px;
}

.photoupv_thumbboxuppbar
{
	width: 90px;
	height: 7px;
	background: #c9dbd1;
	z-index: 10000;
	margin: 60px 0 0 95px;
	position: absolute;
	border: 10px solid #f7f7f7;
	visibility: hidden;
}

.photoupv_thumbboxuppbari
{
	background: #82ad36;
	height: 7px;
}

.photoupv_thumbbox
{
	width: 300px;
	height: 150px;
	border: 1px solid #dddddd;
	overflow: hidden;
}

.photoupv_thumbbox:hover
{
	opacity: 1.0;
}

.photoupv_thumbbox_ft
{
	width: 300px;
	height: 57px;
	border-bottom: 1px solid #e0e8f1;
	border-left: 1px solid #e0e8f1;
	border-right: 1px solid #e0e8f1;
}

.photoupv_thumbbox_ft p
{
	padding: 5px;
	color: #b6b6b6;
}

.overlayfulldialog_ico
{
	overflow: auto;
	position: absolute;
	top: 70px;
	bottom: 10px;
	left: 18px;
	right: 4px;
}

.photoupv_thumbbox_ftdsc
{
	width: 300px;
	height: 55px;
	overflow-y: auto;
}

#geditinplaceitmvinput
{
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	font-size: 11px;
}

/* marking */

div.bmarkicon_box
{
	width: 15px;
	height: 12px;
	background: url('../../images/sheet.png');
	padding: 0;
}

/* tagging autocomplete box */

.tagcomplete_box
{
	background: #ffffff;
	border: 1px solid #dde6ee;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	z-index: 1000010;
	padding: 1px 4px 1px 4px;
	position: absolute;
	width: 295px;
	visibility: hidden;
}

.tag_complete_line
{
	padding: 2px 0 2px 0;
	margin: 1px 0 1px 0;
	cursor: pointer;
}

.tag_complete_line:hover
{
	background: #e0e9f0;
}

.tag_complete_line.odd
{
	background: #f7f9fb;
}

.tag_complete_line.odd:hover
{
	background: #e0e9f0;
}

.tag_complete_line img
{
	float: left;
}

.tag_complete_line a
{
	margin-left: 9px;
	float: left;
	color: #333333;
}

/* full photo display stuff */

.pbf_out
{
	opacity:0.2;
	filter:alpha(opacity=20);
	background: #000000; 
	width:100%;
	height:100%; 
	z-index:1000000;
	position:fixed;
	top: 0px;
	left: 0px;
}

.pbf_ct
{
	background: #333333; 
	width:100%;
	height:100%; 
	z-index:1000001;
	position:fixed;
	top: 30px;
	left: 0px;
}

.pbf_ct table
{
	border: none;
	
}

.pbf_pc
{
	text-align: center;
	position: relative;
}

.pbf_pct
{
	text-align: center;
	position: relative;
	bottom: 4px;
}

.pbf_ns
{
	min-width: 300px;
	max-width: 450px;
	color: #e3e3e3;
}

.pbf_ns.floating
{
	position: absolute;
	right: 10px;
    top: 10px;
    background: #333333;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	z-index:1000004;
}

.pbf_nsn
{
	overflow-y: auto;
	height: 100%;
}

.pbf_wnote_o
{
	width: 100%;
}

.pbf_wnote
{
	background: #404040;
	min-height: 44px;
	color: #e3e3e3;
	bottom: 5px;
	margin: 5px;
	padding: 5px;
	line-height: 140%;
}

.pbf_pinfo
{
	z-index:1000002;
	position: absolute;
	top: 12px;
	left: 12px;
}

.pbf_pinfo_t
{
	background: #333333;
	margin-left: 64px;
	min-width: 280px;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	color: #e3e3e3;
	padding: 5px 5px 5px 5px;
	line-height: 150%;
	font-family: arial, helvetica, sans-serif;
}

.pbf_pinfo_dp
{
	float: left;
}

.pbf_pinfo_tuser
{
	font-weight: bold;
	font-size: 14px;
}

.pbf_pinfo_ttitle
{
	font-weight: bold;
	font-size: 12px;
}

.pbf_pinfo_tloc
{
	color: #d3d3d3;
	font-size: 12px;
}

.pbf_thumbs_o
{
	width: 100%;
	position: absolute;
	bottom: 40px;
	bottom: 40px;
	z-index:1000003;
}

.pbf_thumbs
{
	height: 85px;
	background: #252525;
	margin-left: 10px;
	margin-right: 10px;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	text-align: left;
}

.pbf_thumb_hs
{
	width: 1200px;
}

.pbf_thumb_in
{
	overflow: hidden;
	height: 82px;
	margin-right: 4px;
}

.pbf_thumb
{
	margin: 4px 0 0 4px;
	float: left;
	width: 181px;
	height: 78px;
	overflow: hidden;
}

.pbf_thumbs img
{
	height: 78px;
	/* filter: url(filters.svg#grayscale);  Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.pbf_thumbs img:hover
{
/* filter: url(filters.svg#grayscale);  Firefox 3.5+ */
    filter: none; /* IE6-9 */
    -webkit-filter: none; /* Google Chrome & Safari 6+ */
}

.pbf_ns_n
{
	padding: 5px;
	border-bottom: 1px solid #505050;
}

.pbf_ns_n.odd
{
	background: #404040;
}

.pbf_ns_n a
{
	color: #d3d3d3;
	text-decoration: none;
}

.pbf_ns_n abbr
{
	color: #d3d3d3;
}

.pbf_ns_dp
{
	width: 27px;
	height: 27px;
	background: #DDD;
	float: left;
	-moz-box-shadow: 0px 0px 2px #000;
	-webkit-box-shadow: 0px 0px 2px black;
}

.pbf_nsn:hover img
{
/* filter: url(filters.svg#grayscale);  Firefox 3.5+ */
    filter: none; /* IE6-9 */
    -webkit-filter: none; /* Google Chrome & Safari 6+ */
}

.pbf_nsn img
{
	/* filter: url(filters.svg#grayscale);  Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.pbf_ns_pn
{
	font-weight: bold;
}

.pbf_ns_t
{
	margin-left: 35px;
	line-height: 140%;
	color: #e3e3e3;
}

