div.photomm_content
{
	text-align: center;
}

div.photomm_contenti
{
	/* max-width: 1024px; */
	text-align: left;
}

div.photomm_tabline
{
	background: #e5ecf2;
	height: 49px;
}

div.pmmdtcimgout
{
	height: 40px;
	width: 60px;
	overflow: hidden;
	margin: 2px 0 0 2px;
	float: left;
}

div.pmmdtcimgout img
{
	margin-left: -30px;
}

div.photomm_tlbtn
{
	height: 36px;
	float: left;
	background: #f3f3f3;
	border-top: 1px solid #c1c7cc;
	border-left: 1px solid #c1c7cc;
	border-right: 1px solid #c1c7cc;
	margin-top: 12px;
	margin-left: 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	min-width: 240px;
	cursor: pointer;
}

div.photomm_tlbtn:hover
{
	border-top: 1px solid #ecb330;
	border-left: 1px solid #ecb330;
	border-right: 1px solid #ecb330;
}

div.photomm_tlbtn a
{
	text-decoration: none;
}

div.photomm_tlbtns
{
	border-bottom: 1px solid #ffffff;
	background: #ffffff;
}

div.photomm_tlbtni
{
	padding: 3px 10px 0px 10px;
}

div.photomm_tlbtnititle
{
	font-size: 12px;
	font-weight: bold;
	color: #808080;
	line-height: 140%;
}

div.photomm_tlbtnititlea
{
	padding-top: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #808080;
}

div.photomm_tlbtniname
{
	font-size: 11px;
	color: #656565;
	line-height: 140%;
}

div.photomm_tlbtnitime
{
	font-size: 11px;
	color: #d1d1d1;
	line-height: 140%;
}

div.photomm_co
{
	border: 1px solid #c1c7cc;
	min-height: 200px;
}

div.photomm_filterline
{
	margin-top: 20px;
	height: 25px;
	width: 100%;
	background: #f3f6f9;
	color: #336699;
}

div.photomm_filterlinei
{
	padding: 0px 15px 0px 15px;
}

div.photomm_filterline a
{
	font-size: 11px;
	text-decoration: none;
	color: #336699;
}

div.photomm_filterline a:hover
{
	color: #ecb330;
}

div.photomm_ci
{
	padding: 4px 0px 0px 0px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.photomm_cipic.err
{
	background: #ffee00;
}

div.photomm_cipic.err img
{
	opacity: 0.5;
}


div.photomm_cipic
{
	width: 334px;
	height: 145px;
	overflow: hidden;
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
	position: relative;
	background: #ffffff;
}

div.photomm_cipic span
{
	display: none;
}


div.photomm_cipic:hover img
{
	opacity: 0.8;
}

div.photomm_cipic:hover span
{
	display: inline;
}


div.photomm_eib
{
	position: absolute;
	top: 120px;
	left: 2px;
	right: 2px;
	background: #ffffff;
	opacity: 0.9;
	height: 21px;
	z-index: 10000000;
	cursor: pointer;
	text-align: left;
	padding-left: 4px;
	color: #336699;
	font-size: 11px;
	border: 1px solid #dddddd;
}

div.photomm_eibr
{
	float: right;
	margin-right: 5px;
	margin-top: 2px;
}

div.photomm_eitb
{
	background: #ffffff;
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: left;
	margin-left: 2px;
}

div.photomm_eitb:hover
{
	background: #dfe7ef;
}

div.photomm_eitbi1
{
	background: url('../../images/sheet.png') no-repeat -188px -124px;
	width: 8px;
	height: 8px;
	margin: 4px 5px;
}

div.photomm_eitbi2
{
	background: url('../../images/sheet.png') no-repeat -154px -52px;
	width: 8px;
	height: 8px;
	margin: 4px 4px;
}

div.photomm_eit
{
	position: absolute;
	top: 2px;
	right: 1px;
	float: right;
	margin-right: 1px;
}


/* album set */

/* the big preview screen */

div.pha_mainview
{
	width: 100%;
	font-size: 11px;
}

div.pha_mainviewin
{
	margin: 5px;
}

div.pha_thumbsetct
{
	margin: 40px 4px 4px 4px;
	left: 2px;
	padding: 0;
}

div.pha_thumbalbct
{
	margin: 0;
	padding: 0;

	float: left;
	margin-right: 2px;
	margin-bottom: 4px;
}

div.pha_thumbalbct.err
{
	background: #ffee00;
}

div.pha_thumbalbct.err div
{
	opacity: 0.5;
}


div.pha_thumbalbbt
{
	border: 1px solid #a5bbd2;
	border-top: none;

	height: 55px;
	background: #ffffff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

div.pha_thumbalbcttbk
{
	width: 335px;
	height: 145px;
	background: #a5bbd2;
	overflow: hidden;
	position: relative;
}

div.pha_thumbalbcttbk span
{
	visibility: hidden;
}

div.pha_thumbalbcttbk:hover span
{
	visibility: visible;
}

div.pha_thumbalbcttbk p
{
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	margin-top: 57px;
}

div.pha_thumbalbbt_c
{
	float: left;
	color: #656565;
	font-size: 11px;
	margin-left: 3px;
}

div.pha_thumbalbbt_r
{
	float: right;
	line-height: 140%;
	margin-top: 3px;
	margin-right: 3px;
	text-align: right;
}

div.pha_thumbalbbt_t
{
	color: #656565;
	font-size: 11px;
	margin-left: 3px;
	font-weight: bold;
}

div.pha_thumbalbbt_l
{
	color: #bc9a79;
	font-size: 11px;
	margin-left: 3px;
}

div.pha_thumbalbbt_tt
{
	color: #afafaf;
	font-size: 11px;
	margin-left: 3px;
}

div.photomm_co_alb
{
	border-bottom: none;
	min-height: 200px;
	margin-left: 1px;
	border-top: 1px solid #c1c7cc;
	border-bottom: none;
	/*background: #000000;*/
}

div.pha_bigmessage
{
	text-align: center;
	margin-top: 20%;
	font-size: 16px;
	color: #6699cc;
}

div.pha_bigmessage b
{
	font-size: 24px;
}
