
div.infoleftbox_add
{
	margin: 10px 10px;
	margin-bottom: 5px;
	border: 1px solid #EBF0F5;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px;
	text-align: center;
}


div.infoleftbox_add:hover
{
	background: #EBF0F5;
}

div.infoleftbox_add p
{
	padding: 5px;
	margin: 0;
	color: #3B6CAE;
	text-decoration: none;
	font-size: 16px;
}

div.infoleftbox_add_out a
{
	text-decoration: none;
}

div.inforightbox_editstrip
{
	padding: 0;
	margin: 0;
	text-align: right;
}

div.inforightbox_editstrip a
{
	text-decoration: underline;
}

div.inforightddata_input
{
	/*margin-top: -22px;
	margin-left: 0px;*/
}

div.inforightddata_input input
{
	padding: 0;
	width: 100%;
	border: 1px solid #dddddd;
	font-size: 11px;
	padding: 2px;
}

div.inforightddata_input select
{
	padding: 0;
	width: 100%;
	border: 1px solid #dddddd;
	font-size: 11px;
	padding: 2px;
}

div.profileworkedit_time
{
	font-size: 11px;
	float: right;
	font-weight: normal;
	
}

div.profileworkedit input
{
	border: 1px solid #dddddd;
	font-size: 11px;
	padding: 2px;
}

div.profileworkedit_time input
{
	border: 1px solid #dddddd;
	font-size: 11px;
	padding: 2px;
}

div.profileleft_edit
{
	position: relative;
}

div.profileworkedit_buttons
{
	float: right;
	
}

div.profileworkedit_buttons a
{
	background: #82ad36;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	padding: 5px 40px 5px 40px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	margin-left: 4px;
}

div.inplacefield textarea
{
	font-size: 11px;
	border: 1px solid #dddddd;
}

div.profileinplace_buttons
{
	float: right;
	
}

div.profileinplace_buttons a
{
	background: #82ad36;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	padding: 5px 40px 5px 40px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	margin-left: 4px;
}

div.profileinplace_delete
{
	float: left;
	
}

div.profileinplace_delete a
{
	background: #82ad36;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	padding: 5px 10px 5px 10px;
	text-align: center;
	text-decoration: none;
	margin-left: 4px;
	background: #ff4400;
	color: #ffffff;
	border: none;
}